$backgroundHeader: url("../img/m-h-night.jpg");
$backgroundBody: #21232e;
$backgroundHeaderCard: #3b3f50;
$colorHeaderText: #ffffff;
$colorUnderline: #ff4e33;
$colorButton: #e3ac00;
$colorBackgroundLinear1: #da9f08;
$colorBackgroundLinear2: #97344d;
$fontHeader: 'Source Sans Pro', sans-serif;
$fontParagraph: 'Fresca', sans-serif;
$fontLink: 'Hind', sans-serif;
$colorParagraph: #d1d1d1;
$fontSizeCardText: 13px;
$marginTopSpan: 0;