$backgroundHeader: url("../img/m-h-day.jpg");
$backgroundBody: #ffffff;
$backgroundHeaderCard: #21232e;
$colorHeaderText: #2c2f3c;
$colorUnderline: #14a0c7;
$colorButton: #699900;
$colorBackgroundLinear1: #629237;
$colorBackgroundLinear2: #2f5dd0;
$fontHeader: 'Source Sans Pro', sans-serif;
$fontParagraph: 'Hind', sans-serif;
$fontLink: 'Hind', sans-serif;
$colorParagraph: #bbbec9;
$fontSizeCardText: 12px;
$marginTopSpan: -7px;