* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-wrapper {
  width: 100%;  
}
header {
  background-image: url('../img/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;  
  display: flex;
  justify-content: center;
}
.top-wrapper {
  position: fixed;
  background: #ffffff;
  height: 60px;
  width: 100%;
  align-items: center;
}
.logo-title {
  color: #777;
  text-transform: uppercase;
  font-size: 20px;  
  letter-spacing: 3px;  
}
.navigation-row {
  width: 100%;
  list-style: none; 
}
.navigation-link {  
  margin: 0 5%;
}
.navigation-link a {
  color: #777;
  text-decoration: none;
}
.navigation-link a:hover {
  color: #bfba55; 
}
.greeting{
  margin-top: 45vh;
  text-align: center;
}
.greeting-header {
  color: #ffffff;
  font-size: 60px;
  font-weight: 500;
}
.greeting-describe {
  margin-top: 15px;
  color: #bfba55;
}
.greeting-btn {  
  font-size: 10px;
  padding: 12px 25px;  
  text-transform: uppercase;
  border: none;  
  margin-top: 35px;  
}
.post-list {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article, article img {
  width: 800px;
  margin-top: 10px;
}
.post-header {
  margin-top: 20px;
  font-weight: 500;
}
.post-comment {
  display: flex;
  align-items: center;  
  width: 350px;
}
.comments-author {
  height: 25px;
  width: 25px;
  border-radius: 12px;
}
.top-wrapper, 
.comment {
  display: flex;
  justify-content: space-around;
}
.comment {
  width: 300px;  
}
.post-description {
  margin: 20px 0;
}
.post-btn {  
  padding: 10px 20px;  
  border: 1px solid #f0f0f0;  
}
.greeting-btn,
.post-btn {
  color: #777;
  border-radius: 25px;
  background: #ffffff;  
  cursor: pointer;
}
.greeting-btn:hover, 
.post-btn:hover {
  color: #313131;
  background: #e9e6e6;
}
hr {
  width: 800px;
  margin: 40px 0;  
  border: none;  
  background-color: #f0f0f0; 
  height: 1px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 250px;  
}
.navigation-row, 
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content {    
  width: 800px;
}
.describe-header, .contact-header {
  color: #ffffff; 
  margin-bottom: 10px; 
}
.describe p, 
.describe span {
  color: #777;
  line-height: 1.4em;
  margin-bottom: 15px;
}
.describe span {
  font-size: 13px;
}
.contact p {
  margin-right: 20px;
  line-height: 2.4em;
  font-size: 13px;
  color: #777;
}