<div class="item" *ngIf="!edited; else editBlock">
  <p>
    <span class="item-text">{{user.name}}</span>
    <span class="item-text">{{user.email}}</span>
    <span class="item-text">{{user.phone}}</span>
  </p>
  <div>
    <button class="btn" (click)="delUser()">Delete</button>
    <button class="btn" (click)="edit()">Edit</button>
  </div>
</div>
<ng-template #editBlock> 
  <form class="item" [formGroup]="editForm" (ngSubmit)="save()">
    <div>
      <input type="text" class="item-text" formControlName="name"  value="{{user.name}}">
      <input type="text" class="item-text" formControlName="email" value="{{user.email}}">
      <input type="text" class="item-text" formControlName="phone" value="{{user.phone}}">      
    </div>
    <div>
      <button type="submit" class="btn" 
      (click)=share() [disabled]="!editForm.valid">Save</button>
      <button class="btn" (click)="discard()">Discard</button>
    </div>
  </form>
</ng-template>