* {
  box-sizing: border-box;
}
.search {
  margin: 50px 0;
}
.search-input {
  border: none;
  border-radius: 10px;
  width: 700px;
  height: 40px;
  margin: 0 20px;
  padding: 0 15px;
  font-size: 15px;
}
.add-btn {
  background-color: rgb(52, 205, 218);
  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 10px 35px;
  font-size: 18px;
  font-weight: bold;
} 