li {
  list-style: none;
}

.folder-list {
  display: flex;
  flex-direction: column;
}

span:hover {
  background: #efefef;
  cursor: pointer;
}
span i {
  vertical-align: bottom;
}

.icon {    
  margin-right: 5px;
  color: #edbc0b;
}

.file-icon {
  color: #9b9a99;
}

li.closed ul {
  display: none;
}